<html>
  <head>
    <title>Josh Zipin's Corner of the Internet</title>
      <meta property="og:title" content="Josh Zipin's Corner of the Internet" />
      <meta property="og:description" content="Welcome to Josh Zipin's corner of the internet. Get comfy. Can I offer you a drink?" />
      <meta property="og:url" content="http://www.joshzipin.com" />
      <meta property="og:image" content="http://www.joshzipin.com/images/MOM_headshot.jpg" />
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" href="/Style.css" type="text/css"/>
  </head>
  <body>
    <div id="body-wrapper">
      <div id='title-wrapper-container'>
        <div id='header-container'>
          <a id='zip-logo' href="/">JZ</a>
          <a href="/work">work</a>
          <a href="/play">play</a>
        </div>
        <div id="title-wrapper">
          <h1>
            Hi. I'm Josh.
          </h1>
          <p>
            I'm glad you're here.
          </p>
        </div>
        <div id='button-wrapper'>
          <a class="button" href="/work"><div class='button-text'>work</div></a>
          <a class="button" href="/play"><div class='button-text'>play</div></a>
        </div>
        <div id='link-wrapper'>
            <a id='twitter-logo' target="_blank" href="https://twitter.com/jzipdamonsta"></a>
            <a id='lnkd-logo' target="_blank" href="https://linkedin.com/in/jozipin"></a>
            <a id='medium-logo' target="_blank" href="https://medium.com/@jzipdamonsta"></a>
            <a id='instagram-logo' target="_blank" href="https://instagram.com/jzipdamonsta"></a>
            <a id='email-logo' target="_blank" href="mailto:jozipin@gmail.com"></a>
        </div>
      </div>
      <div id='img-wrapper'>
      </div>
    </div>
  </body>
</html>
